#formspace {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	border-style: solid;
	border-radius: 0.5em;
	color: #000;
	background-color: #FFF;
}

.resultborder {
	background-color: #FFF;
    border-radius: 25px;
	font-family: sans-serif;
	margin: 30px;
	padding: 1em;
}

#ourForm {
	padding: 0.5em;
}

label {
	font-weight: bold;
}

#resultspace {
	display: flex;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-radius: 0.5em;
	color: #000;
	background-color: #FFF;
	line-height: 1em;
	overflow: scroll;
}