#signin {
	position: fixed;
	border-radius: 1em;
	z-index: 5;
	width: 150px;
	height: 75px;
	top: 0;
	right: 0;
	background-color: blue;
	padding-top: 0.5em;
}

#signin > p {
	text-align: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 5em;
  padding-right: 1em;
  padding-top: 3em;
  padding-bottom: 2em;
 
}
.buttons > div {
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
  height: 250px;
  border-radius: 0.5em;
  font-size: 30px;
}
.buttons > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#About { background-color: red; margin-bottom: 1em;}
#Animals { background-color: orange; margin-left: 1em;}
#Surrender { background-color: purple; margin-right: 1em;}
#Cruelty { background-color: grey; }