body {
    display: flex;
    flex-direction: row; /* holding two pending boxes */
    margin: 0; /* override root.css */
    border: 0;
    margin-top: 75px;
    padding: 0;
    background: transparent;
}

.pendingBox {
    display:flex;
    flex-direction: column;
    background-color:aliceblue;
    flex-grow: 1;
    border: 2px solid #008CBA;
	border-radius: 0.5em;
	color: #000;
    margin: 25px;
    padding:10px;
    border-radius: 0.5em;
}

.pendingEntryBox{
    display:flex;
    flex-direction: row; /* holds entries */
    flex-wrap:wrap;
}

.pendingEntry {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    background-color: #FFF;
    border: 1px solid #444;
	border-radius: 0.5em;
	color: #000;
    margin: 3px;
    padding:5px;
    border-radius: 0.5em;
}

.buttonBox {
    display: flex;
    flex-direction: row;
    margin: 3px;
}

button {
    margin: 3px;
}

.denyButton{
    background-color: #ff471a; /* light red */ 
    border: 2px solid #ff471a;
}

.denyButton:hover {
    background-color: #FFF; /* white */
    color: #ff471a; /* light red */ 
}

.confirmButton{
    background-color: #33cc33; /* light green */ 
    border: 2px solid #33cc33;
}

.confirmButton:hover {
    background-color: #FFF; /* white */
    color: #33cc33; /* light green */ 
}

.title {
    text-align: center;
}
