:root {
	box-sizing: border-box;
	background-image: url("../img/layout/background.jpg"); /* I put the bg up here so body could be the white square */
	background-repeat: repeat;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	background-color: #FFF;
	font-family: sans-serif;
    border-radius: 25px;
	margin: 100px;
	padding: 10px;
}